#Home {
    padding-top:100px;
    padding-bottom:50px;
    background-color: rgb(240, 240, 240);
    
}


#HowTo {
    padding-top:50px;
    padding-bottom:50px;
    background-color: rgb(255, 123, 0);
}

#LogIn {
    padding-top:50px;
    padding-bottom:50px;
    padding-right:100px;
    padding-left:100px;
    background-color: rgb(240, 240, 240);
}

#About {
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(240, 240, 240);
}

#Stats {
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(173, 239, 241);
}

#Games {
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(153, 255, 102);
}

#catch{
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    background-color: rgb(102, 102, 153);
}
