<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Overshop</title>

        <script type="text/javascript" src="phaser/dist/phaser.js"></script>
        <script type="text/javascript" src="js/js_game2/boot.js"></script>
        <script type="text/javascript" src="js/js_game2/load.js"></script>
        <script type="text/javascript" src="js/js_game2/mainMenu.js"></script>
        <script type="text/javascript" src="js/js_game2/play.js"></script>
        <script type="text/javascript" src="js/js_game2/score.js"></script>


    </head>
    <body>
        <form id="game2form" action="/game2" method="post">
            <input type="hidden" id="game2score" name="game2score">
        <script>
            var config = {
                type: Phaser.AUTO,
                width: 800,
                height: 600,
                parent: "gameWindow",
                loader: {
                    baseURL: 'image/assets_2'
                },
                physics: {
                    default: 'arcade',
                    arcade: {
                        gravity: {y: 100},
                        debug: false
                    }
                },
                audio: {disableWebAudio: false},
                backgroundColor: '#444477',
                version: '0.9',
                scene: [bootScene, loadScene, mainMenuScene, playScene]
            };
            var game = new Phaser.Game(config);

        </script>

    </body>
</html>