<html>
<head>
    <script type="text/javascript" src="../phaser/dist/phaser.js"></script>
    <script type="text/javascript" src="backgroundScene.js"></script>
    <script type="text/javascript" src="loading.js"></script>
    <script type="text/javascript" src="bonusStage.js"></script>
    <script type="text/javascript" src="catchOver.js"></script>
    <script type="text/javascript" src="catch.js"></script>
    <script type="text/javascript" src="startCatch.js"></script>
    
</head>
<body>
    <script>
    var config = {
    type: Phaser.AUTO,
    width: 400,
    height: 600,
    loader: {
            baseURL: 'image/assets_1'
        },
    physics: {
        default: 'arcade',
        arcade: {
            gravity: {y: 150},
            debug: false
        }
    },
    audio: {disableWebAudio: false},
    scene:[backgroundScene, startCatch, catchOver, mainScene, bonusStage]
    };
    var game=new Phaser.Game(config);
    
    </script>
</body>
</html> 