<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Overshop</title>

        <script type="text/javascript" src="phaser/dist/phaser.js"></script>
        
        <script type="text/javascript" src="js/js_game2/boot.js"></script>
        <script type="text/javascript" src="js/js_game2/load.js"></script>
        <script type="text/javascript" src="js/js_game2/mainMenu.js"></script>
        <script type="text/javascript" src="js/js_game2/play.js"></script>
        <script type="text/javascript" src="js/js_game2/score.js"></script>


    </head>
    <body>
        <script>
            var config = {
                type: Phaser.AUTO,
                width: 800,
                height: 550,
                loader: {
                    baseURL: 'image/assets_2'
                },
                physics: {
                    default: 'arcade',
                    arcade: {
                        gravity: {y: 100},
                        debug: false
                    }
                },
                
                backgroundColor: '#DDDDDD',
                version: '0.1',
                scene: [bootScene, loadScene, mainMenuScene, playScene]
            };
            var game = new Phaser.Game(config);

        </script>

    </body>
</html>