@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
	height:100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;

}

.navbar {
	background-color: #4AA027;
	padding: 1% 0;
	font-size: 1.2em;
	min-height: 75px;
}

.navbar-brand {
	height: auto;
	width: auto;
	max-height: 30px;
}

.navbar-brand img {
	height:105px;
	padding-top: 0;
	margin-top: -44px;
}

.navbar-nav li {
	padding-right: 20px;
}

.navbar .navbar-nav lia:

.navbar .navbar-nav li a:hover, .navbar-nav li a.active {
	color: #00e600;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}


.nav-link {
		font-size: 1.1em !important;
	}


#home {
	background: url(../../image/img_main/green.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}
.padding {
	padding: 80px 0;
}

.padding img {
	width: 100%;
}

#fixed {
	background:url(../../image/img_main/nature.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size:cover;

}

.login {
	background: url(../../image/img_main/mountains.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding:0;
}

.modal-content {
	background-color: #3b4652;
	opacity: .7;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}

.user-img {
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #848484;
}

.form-group{
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	padding-left: 54px;
}

.form-group::before {
	font-family: 'Font Awesome\ 5 Free';
	content:"\f007";
	position: absolute;
	font-size: 22px;
	color: #555e60;
	left: 28px;
	padding-top: 4px;
}

.form-group:last-of-type::before {
	content:"\f023";
}

button {
	width:40%;
	margin: 5px 0 25px;
}

.btn {
	background-color: #27c2a5;
	color:#fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
}

.btn:hover, .btn:focus {
	background-color: #25a890;
	border-bottom: 4px solid#25a890;
}


.forgot {
	padding: 5px 0 25px;
}

footer {
	width:100%;
	background-color: #4AA027;
	padding: 5% 5% 10% 5%;
	color: white;
	min-height: 25%;
	padding-top: 10px;
}

.social a {
	font-size:2.5em;
	padding: 1rem;
}

.fa-facebook {
	color:#3b5998;
}

.fa-twitter {
	color:#00aced;
}

.fa-google-plus-g {
	color: #dd4b39;
}

.fa-instagram {
	color:#517fa4;
}

.fa-youtube {
	color: #bb0000;
}

.icon {
	max-width: 200px;
	margin-top: -35px;
}

@media(max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;

	}
}





/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/

