@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
	height:100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;

}

.navbar {
	background-color: #4AA027;
	/*opacity: 0.5;*/
	padding: 1% 0;
	font-size: 1.2em;
	/*min-height: 75px;*/
	color: #ffffff;
}

.navbar-brand {
	height: auto;
	width: auto;
	max-height: 30px;
}

.navbar-brand img {
	height: 90px;
	padding-top: 0;
	margin-top: -37px;
	margin-left: -25px;
}

.navbar-toggler {
	max-width: 18%;
	border: none !important;
	margin-right: 10px;
}

.navbar-nav li {
	padding-right: 20px;
}

.navbar .navbar-nav li a:hover, .navbar-light .navbar-nav li a.active {
	color: #00e600;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}


.nav-link {
		font-size: 1.1em !important;
}

#chris {
	/*opacity: 0.5 !important;*/
}


#home {
	background: url(../../image/img_main/green.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	background: url(../../image/img_main/apple.png) no-repeat center ;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-position: 50% 10%;
}




.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}
.padding {
	padding: 80px 0;
}

.padding img {
	width: 100%;
}

#gameBody {
	background:url(../../image/img_main/game1_background.jpg) no-repeat center center fixed;
	background-size:cover;
}

.carousel-caption {
	color: black !important;
}

#fixed {
	background:url(../../image/img_main/nature.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size:cover;
}



#gameWindow {
	text-align: center;
	 padding-top: 10px; 
	 padding-bottom: 10px;
	 width:100%;
}

.modalPadding{
	padding-top: 10px;
	padding-bottom: 10px;
}

#modalHeader{
	margin: 0 auto;
}

#modalClose {
    padding-right: 0px;
    padding-left: 0px;
    width: 50px;
    margin-left: 0px;
}

#modalClose2 {
	margin: auto;
}


.login {
	background: url(../../image/img_main/mountains.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding:0;
}

/* .modal-content {
	background-color: #3b4652;
	opacity: .7;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
} */

.user-img {
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #848484;
}

.form-group{
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	padding-left: 54px;
}

.form-group::before {
	font-family: 'Font Awesome\ 5 Free';
	content:"\f007";
	position: absolute;
	font-size: 22px;
	color: #555e60;
	left: 28px;
	padding-top: 4px;
}

.form-group:last-of-type::before {
	content:"\f023";
}

button {
	width:40%;
	margin: 5px 0 25px;
}

.btn {
	background-color: #27c2a5;
	color:#fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
}

.btn:hover, .btn:focus {
	background-color: #25a890;
	border-bottom: 4px solid#25a890;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}


.forgot {
	padding: 5px 0 25px;
}

footer {
	width:100%;
	background-color: #4AA027;
	padding: 5% 5% 10% 5%;
	color: white;
	min-height: 25%;
	padding-top: 10px;
	padding-bottom: 1px;
}

.instructions {
	background-color: blue;
}

.leaderBoard {
	background-color: red;
}

.social a {
	font-size:2.5em;
	padding: 1rem;
}

.fa-facebook {
	color:#3b5998;
	font-size: 2em;
}

.fa-twitter {
	color:#00aced;
	font-size: 2em;
}

.fa-google-plus-g {
	color: #dd4b39;
}

.fa-instagram {
	color:#517fa4;
	font-size: 2em;
}

.fa-youtube {
	color: #bb0000;
	font-size: 2em;
}

.fa-envelope-square{
	font-size: 2em;
}

.icon {
	max-width: 200px;
	margin-top: -35px;
}

@media(max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;

	}
}

@media(max-width: 600px) {
	#gameWindow {
		width: 100%;
		height: 100%;
		/*display: block;*/
	}
}

p{
	text-align: center;
}

#aboutheading{
	text-align: center;
}